<div id="assessment" class="clearfix">
    <div class="ec-role">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="text-center">
                    <p>{{ '無料査定・買取'|trans }}</p>
                    <p>{{ 'ブランド品、宝石、日用品など買い取りいたします。'|trans }}</p>
                    <p>{{ '出張買取、宅配買取は、お電話またはメールでお問い合わせください。'|trans }}</p>
                    <p><br></p>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive" src="{{ asset('assets/img/top/kaitori/assessment_store.png', 'user_data') }}" alt="{{ '店舗で査定'|trans }}"/>
                            <p>{{ '店舗で査定'|trans }}</p>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive" src="{{ asset('assets/img/top/kaitori/assessment_office.png', 'user_data') }}" alt="{{ '出張買取'|trans }}"/>
                            <p>{{ '出張買取'|trans }}</p>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive" src="{{ asset('assets/img/top/kaitori/assessment_home.png', 'user_data') }}" alt="{{ '宅配買取'|trans }}"/>
                            <p>{{ '宅配買取'|trans }}</p>
                        </div>
                    </div>
                    <p><br></p>
                    <p><img class="img-responsive auto-width" src="{{ asset('assets/img/top/kaitori/assessment_line.jpg', 'user_data') }}" alt="{{ 'ラインで簡単査定'|trans }}" /></p>
                    <p>
                        <a href="tel:+81{{ BaseInfo.phone_number }}">
                            <img class="img-responsive auto-width" src="{{ asset('assets/img/top/kaitori/assessment_phone.jpg', 'user_data') }}" alt="{{ '今すぐ査定を始める'|trans }}"/>
                        </a>
                    </p>
                    <p><br></p>
                    <p>{{ 'front.about.business_hour'|trans }}：{{ BaseInfo.business_hour|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</div>