<div class="assessment_banner clearfix">
    <div class="ec-role">
        <a href="#assessment" class="second-header-items">
            <span class="second-header-description"><i class="fas fa-tag"></i>&nbsp;{{ '無料査定・買取'|trans }}&nbsp;</span>
            <span class="second-header-description"><i class="fas fa-store-alt"></i>&nbsp;{{ '店舗には豊富な品揃え'|trans }}&nbsp;</span>
            <span class="second-header-description"><i class="fas fa-truck"></i>&nbsp;{{ '出張や宅配買取、LINE査定にも対応'|trans }}&nbsp;</span>
        </a>
    </div>
</div>