<div class="ec-categoryRole categoryBrandsRole white brand-section">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'ブランドで探す'|trans }}</span>
            {#<span class="ec-secHeading__ja">{{ 'Category'|trans }}</span>#}
        </div>
        <div class="ec-categoryBrandsRole__list row">
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=13">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_louis_vuitton.png', 'user_data') }}" alt="ルイ・ヴィトン">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=14">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_chanel.png', 'user_data') }}" alt="エルメス">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=15">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_hermes.png', 'user_data') }}" alt="エルメス">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=16">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_gucci.png', 'user_data') }}" alt="グッチ">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=21">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_dior.png', 'user_data') }}" alt="ディオール">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=18">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_prada.png', 'user_data') }}" alt="プラダ">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=26">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_fendi.png', 'user_data') }}" alt="フェンディ">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=27">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_yvessaintlaurent.png', 'user_data') }}" alt="イヴ　サンローラン">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=19">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_cartier.png', 'user_data') }}" alt="カルティエ">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=20">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_bvlgari.png', 'user_data') }}" alt="ブルガリ">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=22">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_tiffany.png', 'user_data') }}" alt="ティファニー">
                </a>
            </div>
            <div class="ec-categoryBrandsRole__listItem col-xs-6 col-md-2">
                <a href="{{ url('product_list') }}?category_id=23">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/brand_celine.png', 'user_data') }}" alt="セリーヌ">
                </a>
            </div>
        </div>        
        <p class="sq_btn"><a href="{{ url('product_list') }}?category_id=2">{{'全ブランド商品一覧はこちら'|trans}}</a></p>
    </div>
</div>