<div class="ec-categoryRole categoryRole">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'キャンペーン'|trans }}</span>
            <span class="ec-secHeading__ja">{{ 'Campaign'|trans }}</span>
        </div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="{{ asset('assets/img/top/campaign_1.jpg') }}">
                    <p>キャンペーンの説明が入ります</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="{{ asset('assets/img/top/campaign_2.jpg') }}">
                    <p>キャンペーンの説明が入ります</p>
                </a>
            </div>
        </div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=3">
                    <img src="{{ asset('assets/img/top/campaign_3.jpg') }}">
                    <p>キャンペーンの説明が入ります</p>
                </a>
            </div>
        </div>        
    </div>
</div>