{% if search_form.category_id.vars.value == 3 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_jewelry@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_jewelry@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'ジュエリー'|trans }}</h2>
                        <p>「ブランドジュエリー」のページです。BRANDSHOP GOEMONでは中古・新品の貴金属・ジュエリーが勢揃い。カルティエ、ハリーウィンストン、ヴァンクリーフ＆アーペルなど、世界のトップジュエラーからノーブランドまで幅広くお取扱いしています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 7 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_bag@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_bag@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'バッグ'|trans }}</h2>
                        <p>「ブランドバッグ」のページです。BRANDSHOP GOEMONでは人気ブランドの中古・新品ブランドバッグが勢揃い。エルメス、ルイ・ヴィトンなど人気のブランドバッグから、毎日使いにちょうど良いカジュアルバッグまで人気ブランドが勢揃いのショッピングサイト。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 8 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_wallet@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_wallet@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ '財布'|trans }}</h2>
                        <p>「ブランド財布」のページです。BRANDSHOP GOEMONではルイ・ヴィトン、エルメス、シャネルなどの人気ブランドの財布・ファッション小物を豊富にお取り扱いしています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 9 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_accessory@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_accessory@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ '小物・アクセサリー'|trans }}</h2>
                        <p>「ブランド小物・アクセサリー」のページです。BRANDSHOP GOEMONではルイ・ヴィトン、エルメス、シャネルなどの人気ブランドの財布・ファッション小物を豊富にお取り扱いしています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 10 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_fashion@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_fashion@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'ファッション'|trans }}</h2>
                        <p>「レディース・メンズのブランド古着」のページです。BRANDSHOP GOEMONでは定番系ブランドから流行の人気ブランドまでレディース・メンズのブランド古着を幅広くお取り扱いしています。年間取扱点数160万点、毎日続々入荷しています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 11 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_watch@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_watch@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ '時計'|trans }}</h2>
                        <p>「レディース・メンズ腕時計」のページです。BRANDSHOP GOEMONではロレックス、エルメス、カルティエなどの人気ブランドのレディース腕時計を豊富にお取り扱いしています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 13 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_louis_vuitton"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'LOUIS VUITTON' }}</h2>
                        <p>ルイ・ヴィトンブランドを作ったルイ・ヴィトンが誕生したのは1821年。1854年に、世界で初めてとなる旅行鞄の専門店をパリで創業したのが、ルイ・ヴィトンの始まり。1888年に今でも定番となっているダミエ・キャンバスが誕生した後、ルイ・ヴィトンが1892年に亡くなります。その後もルイ・ヴィトンはジョルジュ・ヴィトンによって受け継がれ、1896年にはモノグラム・キャンバスが誕生、さらに人気が高まっていき、一流ブランドとして確立されていきます。日本には1978年に初上陸し、人気で定番のブランドとなっています。ルイ・ヴィトンの代表的なシリーズは、モノグラムやダミエ、ダミエ・アズールなどです。そのほか、エナメル加工が特徴的なヴェルニ、モノグラムがカラフルになったマルチカラー、メンズラインとして登場したタイガ、大人っぽさが人気のエピなどがあります</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 14 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_chanel"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'CHANEL' }}</h2>
                        <p>シャネルは、ココ・シャネル（本名:ガブリエル・ボヌール・シャネル）が設立したファッションブランドです。ココ・シャネルが1910年に開店させた帽子専門店がきっかけで、1913年にはドーヴィルにブティックが開店します。1916年に発表された、第1回オートクチュール・コレクションです。安いのに着心地がよく、しかも無駄がないデザイン、さらに素材がジャージという斬新なドレスです。その後1921年にはカンボン通り31番地に移転し、シャネルから初めての香水となる、No.5が発売となります。しかし第二次世界大戦がはじまると全店を閉鎖しました。戦後の1954年に閉鎖した店舗を復活させ、もう一度シャネルの歴史が始まります。1971年にシャネルが死去してからは、カール・ラガーフェルドがデザイナーとなり、シャネルを守り受け継がれています</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 15 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_hermes"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'HERMES' }}</h2>
                        <p>エルメスは1837年にパリのランパール通りで高級馬具工房としてオープンしました。創業者はティエリー・エルメスで、ナポレオン3世時代に皇帝御用達の馬具職人としてエルメスの知名度を高めました。1880年息子のシャルル・エミール・エルメスに受け継がれ、現在も本店として存在しているエリゼ地域のフォーブル・サントノーレ24番地に工房を構え、製造のみならず小売りも開始。3代目となる孫のエミール・モーリス・エルメスが、馬具制作の技術を基にバッグや財布などを製造しはじめたことが、今のエルメスが始まるきっかけとなりました。エルメスといえば、やはりバッグが有名です。バーキンやケリーは、多くの人が知っている定番ラインとなりました。ケリーは半世紀以上、そしてバーキンは30年以上の変わらないデザインが受け継がれているのです。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 16 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_gucci"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'GUCCI' }}</h2>
                        <p>現在でも幅広い世代に愛されもっともポピュラーなブランドといっても過言ではないGUCCI(グッチ)。そのGUCCIは1921年グッチオ・グッチ(Gucdo・GUCCI)が高級皮革製品を扱う会社を設立し1923年フィレンツェに自らの名を冠した「GUCCI」の店名を掲げたところから始まりました。このように品質を保証するためにデザイナーの名前を掲げたのはGUCCIが世界で初といわれており、ブランドの元祖とも呼ばれています。グッチオ・グッチの考案した自らの頭文字をあしらったダブルGのモノグラムは今でも多くの人に愛されており、そのモノグラムの入った製品に憧れを抱く方も少なくないのではないでしょうか？</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 17 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_coach"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'COACH' }}</h2>
                        <p>アメリカ発のブランドで日本でも非常に多くの人に愛されているCOACH(コーチ)。ブランドの中では比較的値段も安くアイテムも手に入りやすいため、非常に親しみのあるブランドと言えるのではないでしょうか。今回はそんなコーチの人気の理由を紐解いていきたいと思います。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 18 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_prada"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'PRADA' }}</h2>
                        <p>プラダ（PRADA）は、イタリア・ミラノに本拠地を置く高級ファッションブランドおよびそのブランドを展開するアパレルメーカーである。創設は1913年、プラダ兄弟による。1990年代にはミウッチャ・プラダにより手掛けられた防水性の高い工業用ナイロン生地「ポコノ」を用いた製品が日本およびアメリカで大ヒットした</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 19 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_cartier"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'CARTIER' }}</h2>
                        <p>カルティエは1847年にルイ・フランソワ・カルティエがフランス・パリのモントルゲイユ街29番地（現在のパリ１区）のアトリエを師から譲り受けたのが始まりです。創業初期からカルティエは王侯貴族御用達のジュエリーブランドとして名声を確立していきました。イギリスの国王であったエドワード7世に「王の宝石商、宝石商の王（Jeweller of kings , king of jewellers）」と称えられるほどすばらしい品質とデザインを誇っています。カルティエのジュエリーを代表するのは指輪です。素材にこだわって作られ、またデザインも主張しすぎず、さりげない存在感が特徴で婚約指輪や結婚指輪としてよく選ばれています。特にLOVEリングは人気が高く、ペアリングの定番となっています</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 20 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_bvlgari"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'BVLGARI' }}</h2>
                        <p>ブルガリはイタリアのローマで1884年に高級宝飾店としてスタートしました。ギリシャの銀細工師の家系に生まれた創始者のソティリオ・ブルガリが初めて生み出したジュエリーは、古代ローマとギリシャの文化を融合させたようなものでした。その新しさが多くの人の目に留まり、イタリアで人気のブランドとして確立していきます。20世紀に入り、ソティリオの二人の息子コンスタンティノとジョルジョがブルガリをより人気ブランドへと押し上げていきます。当時の宝飾界でトレンドの、アール・デコやアールヌーヴォー、ロココなどを使わず、ギリシャ建築にヒントを得たコレクションを発表します。そのコレクションによってブルガリはブランドとしてさらなる人気を得ます。ブルガリのジュエリーが持つ魅力は、昔から受け継がれる伝統的なデザインをベースに、新たな手法も取り入れ手に取る人の心を躍らせるようなデザインです。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 21 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_dior"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'DIOR' }}</h2>
                        <p>ディオールは、第二次世界大戦直後にデビュー、半世紀以上にわたり「女性らしさ」「真のレディとは」を表現し続ける、フランスを代表するラグジュアリーブランドです。その歴史を紐解き、ブランドの誕生から定番となったアイテムの秘話、セレブリティーとの関係、現クリエイティブディレクターの足跡まで、幅広くご紹介します。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 22 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_tiffany"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'Tiffany & Co' }}</h2>
                        <p>ティファニーは1837年にアメリカのニューヨークで、チャールズ・ルイス・ティファニーとジョン・B・ヤングの2人が、ティファニーの前身である文房具や装飾品を販売するティファニー・アンド・ヤングを立ち上げたのが始まりです。1848年にフランスの二月革命時に貴族から宝石を買い入れることに成功、宝石事業へと進出しアメリカで第一の宝石商となっていきます。1853年には社名を変更し、ティファニーの定番カラーとなった「ティファニーブルー」が誕生します。また、ティファニーが用いているシルバーの純度基準92.5％、プラチナの純度基準95％は、米国の公式基準となるなり、今日では一般的な基準となっています</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 23 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_celine"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'Celine' }}</h2>
                        <p>Celine（セリーヌ）といえばラゲージバッグが有名で、世界中のセレブがこぞって愛用したことから一躍有名になったブランドです。
                            しかしセリーヌの創業当初はバッグではなく、子供靴を専門に扱うオーダーメイド店だったことを知る人は多くありません。
                            セリーヌの歴史やブランド品の事を詳しく知る事ができれば、セリーヌをもっと好きになれますし、意外と日常的な会話でも役に立ちますよ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 25 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img" style="background-image: url('{{ asset('assets/img/top/category/category_sunglasses@2x.png', 'user_data') }}')">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/category/category_sunglasses@2x.png', 'user_data') }}">#}
                </p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'サングラス'|trans }}</h2>
                        <p>スポーツや車の運転などの実用的な場面はもちろん、ファッションとしてサングラスを好んで使う人も増えました。大切な人に贈るサングラスには、やはりこだわりたいですよね。最近のサングラスは、機能性の面ではどれも秀逸。ですから、あとはデザインにこだわった贈り物を選びましょう。クール、ポップ、キュート…色々なデザインのサングラスがあります。もし選びかねたら、大切な方が好きなスポーツ選手と同じものを選ぶのも良いでしょう。自分が憧れている選手と同じサングラスを贈ってもらえるなんて、素敵ですよ。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 26 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_fendi"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'FENDI' }}</h2>
                        <p>フェンディはローマで創業した革製品店が原点であり、特に毛皮においてはファッション界で一世を風靡したことでも知られています。
                            当時新進のデザイナーであったカール・ラガーフェルトを主任デザイナーに迎えたことで更に人気が上昇し、現在は世界の誰もが憧れる名ブランドとなっています。
                            従来のデザインを覆す新たなアイコンも続々登場し、フェンディの人気は留まることを知りません。
                            フェンディの歴史やブランド品の事を詳しく知る事ができれば、フェンディをもっと好きになれますし、意外と日常的な会話でも役に立ちますよ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% elseif search_form.category_id.vars.value == 27 %}
    <div class="list_nav">
        <div class="hero_area">
            <div class="hero_area_inner">
                <p class="img brand_bg brand_yvessaintlaurent"></p>
                <div class="text">
                    <div class="area">
                        <h2>{{ 'Yves Saint Laurent' }}</h2>
                        <p>フランス領アルジェリア出身のファッションデザイナー、イヴ・サンローランが1962年に立ち上げたファッションブランドである。1966年に「リヴ・ゴーシュ」と呼ばれる若さと自由を表現したコレクションの中でラグジュアリー・プレタポルテというコンセプトを発表した初めてのクチュールメゾンであった。このコレクションによってファッション近代化のムーブメントが起こり、社会文化的に大きなセンセーションとなる。フランスが誇る世界的ラグジュアリーブランドのひとつで、イブ・サンローランはデザイナーとして20世紀のファッション業界をリードし続けた。 イヴ・サンローランのコレクションは、メンズ、レディースの既製服、シューズ、バッグ、レザー小物、ジュエリー、スカーフ、ネクタイ、アイウェアまで幅広く展開している。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<!--上記以外のカテゴリID場合のHTMLを記入-->
{% endif %}