{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-categoryRole category-section">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'カテゴリーで探す'|trans }}</span>
            {#<span class="ec-secHeading__ja">{{ 'Category'|trans }}</span>#}
        </div>
        <div class="ec-categoryRole__list row d-flex flex-wrap">
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=3">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_jewelry.png', 'user_data') }}">
                    <p>{{'ブランドジュエリー'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=7">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_bag.png', 'user_data') }}">
                    <p>{{'ブランドバッグ'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=8">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_wallet.png', 'user_data') }}">
                    <p>{{'ブランド財布'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=9">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_accessory.png', 'user_data') }}">
                    <p>{{'ブランドアクセサリー'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=5">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_shoes.png', 'user_data') }}">
                    <p>{{'ブランド靴'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=11">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_watch.png', 'user_data') }}">
                    <p>{{'ブランド時計'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=10">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_fashion.png', 'user_data') }}">
                    <p>{{'ブランドファッション'|trans}}</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItemX item col-xs-6 col-md-3">
                <a href="{{ url('product_list') }}?category_id=25">
                    <img class="img-responsive" src="{{ asset('assets/img/top/category/category_sunglasses.png', 'user_data') }}">
                    <p>{{'ブランドサングラス'|trans}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper-button">
        <p class="sq_btn"><a href="{{ url('product_list') }}">{{'全商品一覧はこちら'|trans}}</a></p>
    </div>
</div>