{#
/*
 * This file is part of the CheckProduct plugin
 *
 * Copyright(c) 2019 SYSTEM FRIEND INC.
 *
 */
#}
{% if CheckProducts|length > 0 %}
    <div class="ec-role">
        <div class="ec-checkProductRole">
            <div class="ec-secHeading">
                <span class="ec-secHeading__en">{{'CheckProduct4.front.block.check_products.title.ja'|trans}}</span>
                {#
                <span class="ec-secHeading__line"></span>
                <span class="ec-secHeading__ja">{{'CheckProduct4.front.block.check_products.title.en'|trans}}</span>
                #}
            </div>
            <div>
                <div class="ec-checkProductItemRole__list">
                    {% for Product in CheckProducts %}
                        <div class="ec-checkProductRole__listItem">
                            <a href="{{ url('product_detail', {'id' : Product.id}) }}" class="item_photo">
                                <img class="img-responsive" src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}">
                                <p class="ec-checkProductRole__listItemTitle limit-product-name">{{ Product.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}