{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-footerRole footer">
    <div class="ec-footerRole__inner">

        <div class="footer_row1">
            <div class="footer_half">
                <h3 class="footer_logo_text">GOEMON</h3>
                <h3 class="footer_phone">{{ '電話'|trans }}：{{ BaseInfo.phone_number|slice(0, 3) }}-{{ BaseInfo.phone_number|slice(3, 3) }}-{{ BaseInfo.phone_number|slice(6) }}</h3>
                <p class="biz_hrs">{{ 'front.about.business_hour'|trans }}：{{ BaseInfo.business_hour|trans }}</p>
                <div class="footer_contact_btn">
                    <a href="{{ url('contact') }}">{{ 'ショップへの質問はこちら'|trans }}</a>
                </div>
                <a class="footer_maritime_link" href="https://maritime-cbd.com/" target="_blank">
                    <img src="{{ asset('assets/img/footer/maritime-logo-gold-leaf-magic.png', 'user_data') }}" alt="{{ 'MARITIME CBD'|trans }}" />
                </a>
            </div>
            <div class="footer_half">
                <div class="footer_menu_half">
                    <ul>
                        <li><a href="{{ url('homepage') }}">{{ 'ホーム'|trans }}</a></li>
                        <li><a href="{{ url('entry') }}">{{ '会員登録'|trans }}</a></li>
                        <li><a href="{{ url('mypage_login') }}">{{ 'ログイン'|trans }}</a></li>
                        <li><a href="{{ url('cart') }}">{{ 'カートを見る'|trans }}</a></li>
                        <li><a href="{{ url('help_guide') }}">{{ 'ご利用ガイド'|trans }}</a></li>
                        <li><a href="{{ url('help_about') }}">{{ '会社概要'|trans }}</a></li>
                    </ul>
                </div>
                <div class="footer_menu_half">
                    <ul>
                        <li><a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"})}}">{{'よくあるご質問'|trans}}</a></li>
                        <li><a href="{{ url('help_tradelaw') }}#payment">{{ '支払い方法について'|trans }}</a></li>
                        <li><a href="{{ url('help_tradelaw') }}#cancel">{{ '返品・交換について'|trans }}</a></li>
                        <li><a href="{{ url('help_tradelaw') }}#delivery">{{ '配送・送料について'|trans }}</a></li>
                        <li><a href="{{ url('help_tradelaw') }}">{{ '特定商取引法に基づく表記'|trans }}</a></li>
                        <li><a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a></li>
                    </ul>
                </div>
                <div class="clear_b"></div>
                <a class="footer_maritime_link" href="https://www.rakuten.co.jp/b-goemon/" target="_blank">
                    <img src="{{ asset('assets/img/footer/rakuten_logo.png', 'user_data') }}" alt="{{ 'GOEMON - Rakuten Shop'|trans }}" />
                </a>
                <a class="footer_maritime_link" href="https://store.shopping.yahoo.co.jp/b-goemon/" target="_blank">
                    <img src="{{ asset('assets/img/footer/yahoo_shopping_logo.png', 'user_data') }}" alt="{{ 'GOEMON - Yahoo Shopping Store'|trans }}" />
                </a>
            </div>
            <div class="footer_half last">
                <div class="pawn_btn">
                    <a href="https://www.78goemon.com/" target="_blank">
                        <h4>{{ '質屋 五右衛門'|trans }}&reg;</h4>
                        <p>{{ '〒'|trans }}652-0042 {{ '兵庫県神戸市兵庫区東山町2-8-7'|trans }}</p>
                        <p>Tel 078-515-1578</p>
                        {#<p>Fax 078-515-8778</p>#}
                        <p>Email 78goemon@gmail.com</p>
                        <p><br></p>
                        <p>{{ '質屋五右衛門サイトへ'|trans }}&nbsp;<i class="fas fa-caret-right"></i></p>
                    </a>
                </div>
            </div>
            <div class="clear_b"></div>
        </div>

        <div class="footer_row2">
            <div class="footer_half footer_license">
                <ul class="b-footer__sns-list">
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-instagram" target="_blank" href="https://www.instagram.com/brandshop.goemon/">Instagram</a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-facebook" target="_blank" href="https://www.facebook.com/Brandshop-Goemon-104322994786160">Facebook</a>
                    </li>
                    <li class="b-footer__sns-list-item">
                        <a class="b-footer__sns-link is-twitter" target="_blank" href="https://twitter.com/jlOqfPVCwiERBwH">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="footer_half">

            </div>
            <div class="clear_b"></div>
        </div>

        <div class="footer_copyright">
            <p>{{ '古物商許可　兵庫県公安委員会 第631141800009号'|trans }}<br />
                {{ '質屋許可　兵庫県公安委員会 第631141800002号'|trans }}
            </p>
            <p>© 2019 GOEMON.</p>
        </div>

        {#
    	<div class="ec-role">
			<div class="sub_box heightLine-sub_box">
            	<p class="ttl">送料</p>
                <p>0,000円以上のお買い上げで送料無料<br>通常は全国一律000円</p>
                <p class="sq_btn small"><a href="{{ url('help_tradelaw') }}">詳しく見る</a></p>
            </div>
			<div class="sub_box heightLine-sub_box">
            	<p class="ttl">お支払い方法</p>
                <p>クレジットカード決済、銀行振込、代金引換（手数料000円）からお選びいただけます。</p>
                <p class="sq_btn small"><a href="{{ url('help_tradelaw') }}">詳しく見る</a></p>
            </div>
			<div class="sub_box heightLine-sub_box">
            	<p class="ttl">配送日</p>
                <p>営業日正午までのご注文で原則、即日出荷。銀行振込はご入金確認後の出荷。</p>
                <p class="sq_btn small"><a href="{{ url('help_tradelaw') }}">詳しく見る</a></p>
            </div>                       
    	</div>
        
        <div class="ec-role pc_only">
        	<ul>
            	<li class="bold mb30"><a href="{{ url('homepage') }}">サイトトップ</a></li>
            	<li class="bold"><a href="{{ url('product_list') }}">全商品一覧</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li class="mb30"><a href="">カテゴリ名</a></li> 
				
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 				
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>      
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                          
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>     
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                             
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">お買い物ガイド</a></li>
            	<li><a href="">送料について</a></li> 
                <li><a href="">お支払いについて</a></li> 
                <li class="mb30"><a href="">配送日について</a></li>     
            	<li class="bold mb30"><a href="{{ url('entry') }}">新規会員登録</a></li>
            	<li class="bold"><a href="{{ url('contact') }}">お問い合わせ</a></li>   
            </ul>               
        </div>

        <div class="ec-role">
        <ul class="ec-footerNavi">
            <li class="ec-footerNavi__link">
                <a href="{{ url('contact') }}">お問い合わせ</a>｜
            </li>
            <li class="ec-footerNavi__link">
                <a href="{{ url('help_privacy') }}">プライバシーポリシー</a>｜<br class="sp_only">
            </li>
            <li class="ec-footerNavi__link">
                <a href="{{ url('help_about') }}">当サイトについて</a>｜
            </li>    
            <li class="ec-footerNavi__link">
                <a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記</a>
            </li>                    
        </ul>
        
        <div class="ec-footerTitle__copyright">copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
        </div>

        #}

    </div>
</div>