{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerNaviRoleOutside pc_only">
    <div class="ec-headerNaviRole ec-role">
        <div class="ec-headerRole__navSP">
            {{ include('Block/nav_sp.twig') }}
        </div>
        <div class="ec-headerNaviRole__left">
            <p class="shoulder_text">{{ 'エルメス、ルイ・ヴィトン、シャネルなどのブランドバッグ、宝石の中古品を取り扱う、神戸のブランドショップ GOEMON'|trans }}</p>
        </div>
        <div class="ec-headerNaviRole__right ">
            <div class="ec-headerNaviRole__nav">
                {{ include('Block/login.twig') }}
            </div>
            <div class="ec-headerRole__cart">
                {{ include('Block/cart.twig') }}
            </div>
        </div>
    </div>
</div>