<div id="instagram_feed" class="clearfix">
    <div class="ec-role">
        <div class="wrapper-instagram-posts">
            <div class="shop_container text-center">
                <p>@brandshop.goemon{{ 'インスタグラムアカウントからの投稿'|trans }}</p>
                <img class="img-responsive auto-width" src="{{ asset('assets/img/top/instagram-logo.png', 'user_data') }}" alt="{{ 'インスタグラムロゴ'|trans }}"/>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="instagram-feed" class="instagram_feed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/jquery.instagramFeed.min.js', 'user_data') }}"></script>
<script>
    $(window).on('load', function(){
        delete $.ajaxSettings.headers["ECCUBE-CSRF-TOKEN"]; // Remove token before call
        $.instagramFeed({
            'username': 'brandshop.goemon',
            'container': "#instagram-feed",
            'display_profile': false,
            'display_biography': false,
            'items': 5,
            'styling': false
        });
        $.ajaxSettings.headers["ECCUBE-CSRF-TOKEN"] = $('meta[name="eccube-csrf-token"]').attr('content'); // Add it back immediately
    });
</script>