{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerNav">
    <div class="ec-headerNav__item pc_only">
        <a href="{{ url('homepage') }}">
            <i class="ec-headerNav__itemIcon fas fa-home"></i>
            {#<span class="ec-headerNav__itemLink">{{ 'ホーム'|trans }}</span>#}
        </a>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('mypage') }}">
                <i class="ec-headerNav__itemIcon fas fa-user"></i>
                {#<span class="ec-headerNav__itemLink">{{ 'マイページ'|trans }}</span>#}
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item pc_only">
                <a href="{{ url('mypage_favorite') }}">
                    <i class="ec-headerNav__itemIcon fas fa-heart"></i>
                    {#<span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>#}
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('logout') }}">
                <i class="ec-headerNav__itemIcon fas fa-sign-out-alt"></i>
                {#<span class="ec-headerNav__itemLink">{{ 'ログアウト'|trans }}</span>#}
            </a>
        </div>
    {% else %}
    {#
        <div class="ec-headerNav__item ">
            <a href="{{ url('mypage') }}">
                <i class="ec-headerNav__itemIcon fas fa-user-tp fa-fw"></i>
                <span class="ec-headerNav__itemLink">{{ '新規会員登録'|trans }}</span>
            </a>
        </div>
    #}
        {% if BaseInfo.option_favorite_product %}
        {#
            <div class="ec-headerNav__item pc_only">
                <a href="{{ url('mypage_favorite') }}">
                    <i class="ec-headerNav__itemIcon fas fa-heart-tp fa-fw"></i>
                    <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>
                </a>
            </div>
        #}
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('mypage_login') }}">
                <i class="ec-headerNav__itemIcon fas fa-lock"></i>
                {#<span class="ec-headerNav__itemLink">{{ 'ログイン'|trans }}</span>#}
            </a>
        </div>
    {% endif %}

        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('contact') }}">
                <i class="ec-headerNav__itemIcon far fa-envelope"></i>
                {#<span class="ec-headerNav__itemLink">お問い合わせ</span>#}
            </a>
        </div>        

</div>