{% if is_granted('ROLE_USER') %}
    <a href="{{ url('mypage') }}" class="nav-item">
        <i class="fas fa-user fa-fw"></i>
    </a>
{% else %}
    <a href="{{ url('mypage_login') }}" class="nav-item">
        <i class="fas fa-lock fa-fw"></i>
    </a>
{% endif %}

<a href="{{ url('contact') }}" class="nav-item">
    <i class="far fa-envelope fa-fw"></i>
</a>
