{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}




<div class="ec-role clearfix">
        <div class="ec-headerRole header-logo">
            <div class="ec-headerRole__title">
                <div class="ec-headerTitle">
                    <div class="ec-headerTitle__title">
						{% if app.request.server.get('REQUEST_URI') == '/eccube403/' %}
                        <h1>
                            <a href="{{ url('homepage') }}">
                                {# {{ BaseInfo.shop_name }} #}
                                <img src="{{ asset('assets/img/logo.jpg') }}">
                            </a>
                        </h1>
						{% else %}
                        <p>
                            <div class="ec-headerNavSP">
                                <i class="fas fa-bars"></i>
                            </div>

                            <a href="{{ url('homepage') }}">
                                {# {{ BaseInfo.shop_name }} #}
                                <img src="{{ asset('assets/img/logo.jpg') }}" class="header-logo">
                            </a>
                        </p>
						{% endif %}
                    </div>
                </div>
            </div>

            <div class="wrapper-header-nav">
                {{ include('Block/login_mobile.twig') }}

                <a href="{{ url('cart') }}" class="nav-item">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        <div class="ec-headerNaviRole__right sp_only clearfix">
            <div class="ec-headerNaviRole__nav">
                {{ include('Block/login.twig') }}
            </div>
            <div class="ec-headerRole__cart">
                {{ include('Block/cart.twig') }}
            </div>
        </div>
    	<div class=" head_search">{{ render(path('block_search_product')) }}</div>
</div>