{% set popular_products_results = get_popular_products() %}
{% set popular_products = popular_products_results['products'] %}
{% set forms = popular_products_results['forms'] %}

{% block javascript %}

<script>
    $(function() {
        $('.slick-popularProducts').not('.slick-initialized').slick({
            dots: true,
            prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="{{ '前'|trans }}" role="button"><i class="fas fa-caret-left"></i></button>',
            nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="{{ '次'|trans }}" role="button"><i class="fas fa-caret-right"></i></button>',
            autoplay: true,
            slidesToShow: {% if popular_products|length >= 5 %}5{% else %}{{ popular_products|length }}{% endif %},
            slidesToScroll: {% if popular_products|length >= 5 %}5{% else %}{{ popular_products|length }}{% endif %},
            infinite: true,
            adaptiveHeight: true,
            speed: 800,
            responsive: [
                 {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        adaptiveHeight: true
                    }
                },
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        adaptiveHeight: true
                    }
                },
                {
                    breakpoint: 980,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        arrows: false,
                        adaptiveHeight: true
                    }
                }
            ]
        });
    });
</script>

{% endblock %}

<div class="ec-role">
    <div class="ec-newItemRole pt0 ec-rankingRole">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ '人気商品'|trans }}</span>
            {#<span class="ec-secHeading__ja">{{ 'Popular Items'|trans }}</span>#}
        </div>
        <div class="ec-newItemRole__list slick-popularProducts popular-slider">
            {% for ProductViews in popular_products %}
            {% set Product = ProductViews[0] %}
            <div class="ec-newItemRole__listItem">
                <p class="no">{{ loop.index }}</p>
                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                    {% if Product.ProductImage|length > 1 %}
                    <div class="product-image-wrapper">
                      <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" class="product-image-main">
                      <img src="{{ asset(Product.ProductImage[1], 'save_image') }}" class="product-image-alt">
                    </div>
                    {% else %}
                    <img src="{{  asset(Product.mainFileName|no_image_product, "save_image")}}">
                    {% endif %}
                    <p class="ec-newItemRole__listIRoletemTitle limit-product-name">{{ Product.name }}</p>
                    <p class="ec-newItemRole__listItemPrice">
                        {% if Product.hasProductClass %}
                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                {{ Product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ Product.getPrice02IncTaxMin|price }}
                        {% endif %}
                        <span>({{ '税込'|trans }})</span>
                    </p>
                </a>
                {% if Product.stock_find %}
                    {% set form = forms[Product.id] %}
                    <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">

                      <div class="ec-productRole__actions">
                            {{ form_widget(form.quantity, {'attr': {'style': 'display: none'}}) }}
                      </div>
                      {{ form_rest(form) }}
                    </form>
                    <div class="ec-productRole__btn">
                        <button type="submit" class="ec-blockBtn--cancel add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                            {{ 'カートに入れる'|trans }}
                        </button>
                    </div>
                {% else %}
                    <div class="ec-productRole__btn">
                        <button type="button" class="ec-blockBtn--action zero" disabled="disabled">
                            {{ '品切れ中です'|trans }}
                        </button>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
