<div id="shop_info" class="clearfix">
    <div class="overlay">
        <div class="ec-role">
            <div class="row shop_container shop-info">
                <div class="col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
                            <p class="info">{{ BaseInfo.shop_name|trans }}</p>
                            <p class="info">{{ BaseInfo.shop_name_eng|trans }}</p>
                            <br>
                            <p class="info">{{ '〒'|trans }}{{ BaseInfo.postal_code|slice(0, 3) }}-{{ BaseInfo.postal_code|slice(3) }}</p>
                            <p class="info">{{ BaseInfo.pref|trans }}{{ BaseInfo.addr01|trans }}</p>
                            <p class="info">{{ BaseInfo.addr02|trans }}</p>
                            <p class="info">TEL：{{ BaseInfo.phone_number|slice(0, 3) }}-{{ BaseInfo.phone_number|slice(3, 3) }}-{{ BaseInfo.phone_number|slice(6) }}</p>
                            {#<p class="info mb-5">FAX：078-362-1145</p>#}
                        </div>
                        <div class="col-md-7 col-md-offset-0 col-xs-10 col-xs-offset-1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.7316087284717!2d135.1819890504174!3d34.686722684437676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008f03035151db%3A0x8a88725332b5d12f!2z44OW44Op44Oz44OJ44K344On44OD44OXIOOCtOOCqOODouODsyBCUkFORFNIT1AgR09FTU9O!5e0!3m2!1sen!2sjp!4v1589860471787!5m2!1sen!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>