<!-- ▼カテゴリナビ(SP) -->

<div class="ec-categoryNavi_sp sp_only">
<ul class="clearfix">
<li> <a href="{{ url('product_list') }}">全商品一覧</a> </li>
<li> <a href="#">カテゴリ名</a> </li>
<li> <a href="#">カテゴリ名</a> </li>
<li> <a href="#">カテゴリ名</a> </li>
</ul>
</div>