/* カスタマイズ用CSS */

/* Bootstrap helperclasses */
.d-flex{ display: -ms-flexbox !important; display: flex !important; }
.flex-grow-1{ -ms-flex-positive: 1 !important; flex-grow: 1 !important; }
.flex-wrap{ -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; }

.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.mt-0 { margin-top:0!important; }
.mr-0 { margin-right:0!important; }
.mb-0 { margin-bottom:0!important; }
.ml-0 { margin-left:0!important; }
.mx-0 { margin-left:0!important;margin-right:0!important; }
.my-0 { margin-top:0!important;margin-bottom:0!important; }

.mt-1 { margin-top:.25rem!important; }
.mr-1 { margin-right:.25rem!important; }
.mb-1 { margin-bottom:.25rem!important; }
.ml-1 { margin-left:.25rem!important; }
.mx-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
.my-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
.mb-2 { margin-bottom:.5rem!important; }
.ml-2 { margin-left:.5rem!important; }
.mx-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
.my-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }

.mt-3 { margin-top:1rem!important; }
.mr-3 { margin-right:1rem!important; }
.mb-3 { margin-bottom:1rem!important; }
.ml-3 { margin-left:1rem!important; }
.mx-3 { margin-right:1rem!important;margin-left:1rem!important; }
.my-3 { margin-bottom:1rem!important;margin-top:1rem!important; }

.mt-4 { margin-top:1.5rem!important; }
.mr-4 { margin-right:1.5rem!important; }
.mb-4 { margin-bottom:1.5rem!important; }
.ml-4 { margin-left:1.5rem!important; }
.mx-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
.my-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }

.mt-5 { margin-top:3rem!important; }
.mr-5 { margin-right:3rem!important; }
.mb-5 { margin-bottom:3rem!important; }
.ml-5 { margin-left:3rem!important; }
.mx-5 { margin-right:3rem!important;margin-left:3rem!important; }
.my-5 { margin-top:3rem!important;margin-bottom:3rem!important; }

.mt-auto { margin-top:auto!important; }
.mr-auto { margin-right:auto!important; }
.mb-auto { margin-bottom:auto!important; }
.ml-auto { margin-left:auto!important; }
.mx-auto { margin-right:auto!important;margin-left:auto!important; }
.my-auto { margin-bottom:auto!important;margin-top:auto!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }

.pt-0 { padding-top:0!important; }
.pr-0 { padding-right:0!important; }
.pb-0 { padding-bottom:0!important; }
.pl-0 { padding-left:0!important; }
.px-0 { padding-left:0!important;padding-right:0!important; }
.py-0 { padding-top:0!important;padding-bottom:0!important; }

.pt-1 { padding-top:.25rem!important; }
.pr-1 { padding-right:.25rem!important; }
.pb-1 { padding-bottom:.25rem!important; }
.pl-1 { padding-left:.25rem!important; }
.px-1 { padding-left:.25rem!important;padding-right:.25rem!important; }
.py-1 { padding-top:.25rem!important;padding-bottom:.25rem!important; }

.pt-2 { padding-top:.5rem!important; }
.pr-2 { padding-right:.5rem!important; }
.pb-2 { padding-bottom:.5rem!important; }
.pl-2 { padding-left:.5rem!important; }
.px-2 { padding-right:.5rem!important;padding-left:.5rem!important; }
.py-2 { padding-top:.5rem!important;padding-bottom:.5rem!important; }

.pt-3 { padding-top:1rem!important; }
.pr-3 { padding-right:1rem!important; }
.pb-3 { padding-bottom:1rem!important; }
.pl-3 { padding-left:1rem!important; }
.py-3 { padding-bottom:1rem!important;padding-top:1rem!important; }
.px-3 { padding-right:1rem!important;padding-left:1rem!important; }

.pt-4 { padding-top:1.5rem!important; }
.pr-4 { padding-right:1.5rem!important; }
.pb-4 { padding-bottom:1.5rem!important; }
.pl-4 { padding-left:1.5rem!important; }
.px-4 { padding-right:1.5rem!important;padding-left:1.5rem!important; }
.py-4 { padding-top:1.5rem!important;padding-bottom:1.5rem!important; }

.pt-5 { padding-top:3rem!important; }
.pr-5 { padding-right:3rem!important; }
.pb-5 { padding-bottom:3rem!important; }
.pl-5 { padding-left:3rem!important; }
.px-5 { padding-right:3rem!important;padding-left:3rem!important; }
.py-5 { padding-top:3rem!important;padding-bottom:3rem!important; }

.row:before, .row:after {display: none !important;} /* Safari fix */

/* general style */
.ec-role,
.ec-searchnavRole .ec-searchnavRole__infos{
    max-width: 1440px; /* new container width default */
}
.ec-cartNavi .ec-cartNavi__icon{
    color: #fff;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.auto-width{
    width: auto !important;
}
.ec-role img{
    width: auto;
}
/* Switch image on Hover */
.product-image-wrapper {
    position: relative;
    height: auto;
}
.product-image-main {
    /*position: absolute;
    top: 0;
    left: 0;*/
    transition: opacity 0.1s ease-out;
    display: block;
}
.product-image-alt {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease-out;
    opacity: 0;
}
.pt0,
.pt-0{
    padding-top: 0;
}
/* Switch image on Hover : END */

/*** Header ***/
.ec-headerNaviRoleOutside  {
    background: #9A9A9A;
    width: 100%;
}

.shoulder_text {
    color: #fff;
}

.ec-headerNav .ec-headerNav__itemIcon,
.ec-headerNav .ec-headerNav__itemLink {
    color: #fff;
}
.cart_text {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.ec-role {
    padding-top: 15px;
}

.ec-drawerRole.is_active{
    display: inherit;
}

.ec-drawerRoleClose.is_active{
    display: inherit;
}

.ec-cartNavi{
    background: none;
    min-width: unset;
}
.ec-cartNavi .ec-cartNavi__price{
    color: #fff;
}

.ec-headerSearch .ec-headerSearch__keyword{
    float: right;
    border-top: none;
}
.clear_b {
    clear: both;
}
.search_lbl {
    float: left; width: 50%; text-align: right; padding-right: 5px; font-size: 14px; padding-top: 13px;
}
.ec-headerNaviRole{
    padding: 0 20px;
    /*max-width: none;*/
}
.ec-headerNaviRole .ec-headerNaviRole__left {
    width: 50%;
}
.ec-headerNaviRole .ec-headerNaviRole__right {
    width: 50%;
}
.ec-itemNav__nav li ul li a {
    white-space: nowrap;
    padding: 16px 40px 16px 16px;
}
.ec-itemNav__nav > li:hover li:hover > a {
    opacity: unset;
}

/*** Header : end ***/

/*** Main banner/slider : index.twig ***/

/* Assessment banner */
.assessment_banner {
    background-color: #F2F2F2;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0 20px;
    font-weight: bold;
    font-size: 18px;
}
.assessment_banner .ec-role a{
    display: flex;
    justify-content: space-evenly;
}
.assessment_banner span {
    color: #000;
    font-size: 2rem;
    font-weight: normal;
}
.assessment_banner span:nth-of-type(2) {
    /*padding: 0 5rem;*/
}
/* Assessment banner : END */

.banner-left{
    background: url('../img/top/banner/banner_left.jpg') no-repeat center;
    background-size: cover;
    background-position: right 15px center;
    flex: 1;
}
.banner-middle{
    background: url('../img/top/banner/banner_middle.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.banner-right{
    flex: 1;
    /*
    background: url('../img/top/banner/banner_right.jpg') no-repeat center;
    background-size: cover;
    */
}
.banner-middle-container{
    padding: 2.5em;
    background-color: rgb(0,0,0,.75);
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.banner-middle-container h2{
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.banner-middle-container a{
    border: 2px solid #fff;
    padding: 1rem;
    color: #fff;
}

/*** Main banner/slider : index.twig : END ***/

/*** New Products block /block/new_item.twig ***/
.ec-newItemRole .ec-newItemRole__list{
    margin: 0 -6rem; /* space for navigation buttons */
}
.ec-newItemRole .ec-newItemRole__listItem {
    margin-bottom: 0 !important;
}
.ec-newItemRole.ec-rankingRole .ec-newItemRole__listItem{
    width: calc(100% / 5);
}
.ec-newItemRole.ec-rankingRole .ec-newItemRole__listItem img{
    width: auto;
    min-width: auto;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}
button.slick-arrow{
    background: #fff;
    border: none;
    padding: 0 2rem;
    font-size: 5rem;
    color: #000;
    outline: none;
    z-index: 1;
}
.ec-newItemRole .ec-newItemRole__listItemPrice{
    font-size: 14px;
    margin-bottom: 10px;
}

/*** New Products block /block/new_item.twig : END ***/

/*** Category block ***/
.ec-categoryRole{
    background: #F2F2F2;
}
.ec-categoryRole img + p{
    margin: 10px 0 20px;
    color: #000;
}
/*** Category block : END ***/
/*** Brand Category block : Block/brand_category.twig ***/
.categoryBrandsRole{
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
}
.ec-categoryBrandsRole__list.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.ec-categoryBrandsRole__listItem,
.ec-categoryBrandsRole__listItem a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ec-categoryBrandsRole__listItem a {
    min-height: 184px;
}
.ec-categoryRole.brand-section p.sq_btn,
.ec-categoryRole.category-section p.sq_btn{
    margin: 60px 0 0;
}
.ec-categoryRole.brand-section p.sq_btn a,
.ec-categoryRole.category-section p.sq_btn a{
    color: #000;
    max-width: 320px;
    width: auto;
}
/*** Brand Category block : Block/brand_category.twig : END ***/
/*** Popular product sliders block ***/
/*.ec-newItemRole.ec-rankingRole .ec-newItemRole__listItem:not(:last-of-type){*/
/*    margin-right: 30px !important;*/
/*}*/
.ec-newItemRole.ec-rankingRole .ec-newItemRole__list{
    padding: 20px 0;
    overflow-x: unset;
    /*width: calc(100% / 5);*/
}
.ec-newItemRole.ec-rankingRole .slick-list{
    /*padding: 10px 0;*/
    overflow: hidden;
}
.ec-newItemRole.ec-rankingRole .no{
    top: 7px;
    left: 7px;
    font-size: 14px;
}

/*** Popular product sliders block : END ***/
/*** Kaitori block : assessment.twig ***/
#assessment{
    background-color: #F2F2F2;
    padding: 40px 0 60px;
}
#assessment p{
    color: #000;
    font-size: 2rem;
    line-height: 3.5rem;
}
#assessment img{
    padding: 10px 0;
}


/*** Kaitori block : END ***/
/*** Shop info block ***/
#shop_info{
    background: url('../img/top/shop/shop_front.jpg') left center no-repeat,
                url('../img/top/shop/shop_interior1.jpg') 42% center no-repeat,
                url('../img/top/shop/shop_interior2.jpg') 70% center no-repeat,
                url('../img/top/shop/shop_interior3.jpg') right center no-repeat;
    background-size: contain, 33%, 33%, auto;
}
#shop_info .ec-role{
    padding: 40px 0;
}
#shop_info .overlay{
    background-color: rgb(0,0,0,.4);
    display: block;
    height: 100%;
    width: 100%;
}
#shop_info .shop_container .row{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
#shop_info p{
    color: #fff;
    font-size: 3rem;
    line-height: 4.5rem;
    text-shadow: 1px 1px #000;
}
#shop_info iframe{
    width: 100%;
    max-width: 100%;
}
/*** Shop info block : END ***/

/*** Instagram block ***/
#instagram_feed{
    padding: 40px 0 0px;
}
#instagram_feed p{
    color: #000;
    font-size: 2rem;
    line-height: 3.5rem;
}
#instagram_feed img{
    padding: 10px 0;
}
#instagram_feed .shop_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.instagram_gallery{
    display: flex;
}
/*** Instagram block : END ***/

/*** Products List Page : /products/list.twig ***/
/* Category block */
/* Category block : END */
/* Product list template */
.ec-shelfGrid .ec-shelfGrid__item-image{
    height: auto;
}
.ec-shelfGrid a{
    /*
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    */
    height: 100%;
}
.ec-shelfGrid__item .ttl{
    margin-top: auto;
    height: 44px;
}
.hero_area_inner{
    display: flex;
    flex-flow: wrap;
}
.hero_area_inner .img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero_area_inner .img.brand_bg{
    background-size: contain;
}
.list_nav .hero_area .img,
.list_nav .hero_area .text{
    float: none;
    min-height: 300px;
    flex: 0 0 50%;

}
.list_nav .hero_area .text{
    display: flex;
    align-items: center;
}
.list_nav .hero_area .text .area{
    position: unset;
    top: unset;
    transform: unset;
    padding: 5%;
}


.brand_bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}
.brand_louis_vuitton{
    background-image: url(../img/top/category/brand_louis_vuitton@2x.png);
}
.brand_chanel{
    background-image: url(../img/top/category/brand_chanel@2x.png);
}
.brand_hermes{
    background-image: url(../img/top/category/brand_hermes@2x.png);
}
.brand_coach{
    background-image: url(../img/top/category/brand_coach@2x.png);
}
.brand_gucci{
    background-image: url(../img/top/category/brand_gucci@2x.png);
}
.brand_prada{
    background-image: url(../img/top/category/brand_prada@2x.png);
}
.brand_cartier{
    background-image: url(../img/top/category/brand_cartier@2x.png);
}
.brand_bvlgari{
    background-image: url(../img/top/category/brand_bvlgari@2x.png);
}
.brand_dior{
    background-image: url(../img/top/category/brand_dior@2x.png);
}
.brand_tiffany{
    background-image: url(../img/top/category/brand_tiffany@2x.png);
}
.brand_celine{
    background-image: url(../img/top/category/brand_celine@2x.png);
}
.brand_fendi{
    background-image: url(../img/top/category/brand_fendi@2x.png);
}
.brand_yvessaintlaurent{
    background-image: url(../img/top/category/brand_yvessaintlaurent@2x.png);
}
/* Product list template : END */
/*** Products List Page : /products/list.twig : END ***/

/*** Product Detail Page : /products/detail.twig ***/
.ec-productRole__btn.fav_btn .ec-blockBtn--cancel.comp {
    background-color: #CCC;
    color : red;
}
.ec-sliderItemRole{
    padding-left: 0;
    padding-right: 0;
}
.ec-productRole__btn.fav_btn{
    width: 50px;
    min-width: 50px;
}
.ec-productRole__btn.fav_btn .ec-blockBtn--cancel{
    width: 50px;
    height: 50px;
}
.ec-productRole .ec-productRole__description{
    white-space: normal;
}
.ec-sliderItemRole .slick-track,
.ec-sliderItemRole .slideThumb {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.ec-sliderItemRole img{
    margin: 0 auto;
}

.c-animation{
    background-color:#fff;
    width:100%;
    height:100%;
    display:block;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.c-animation *{
    overflow: visible;
}
/* How it works block */
.cbd_slides_inside {
    padding: 0 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cbd_slide_half {
    flex: 1;
}

.cbd_text_inside {
    padding: 70px 50px;
    background: #fff;
    color: #000;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
}

video {
    height: auto;
    vertical-align: top;
}
.most_effective .we_are_inside, video {
    max-width: 100%;
}

.cbd_text_inside h3 {
    font-size: 37px;
    margin: 0 0 35px;
    line-height: 49px;
    font-weight: bold;
}

.cbd_text_inside h4 {
    font-size: 34px;
    line-height: 38px;
    margin: 0;
}

.cbd_text_inside p.sub_text {
    margin: 0 0 2rem;
    white-space: pre-wrap;
}

.cbd_text_inside p {
    font-size: 22px;
    margin: 0 0 35px;
    line-height: 1.9rem;
}

.cbd_work_section {
    padding: 70px 0;
}
.cbd_work_section .cbd_text_inside{
    box-shadow: none;
}

.cbd_work_section .cbd_text_inside p.sub_text{
    margin: 0;
}

.cbd_work_section .p-products__main-visual-slick-slide:nth-of-type(2) .cbd_slides_inside{
    flex-direction: row-reverse;
}

h2.cbd_work_title {
    margin: 0 0 60px;
    text-align: center;
}

.most_effective {
    background: #000;
    padding-top: 150px;
    padding-bottom: 200px;
}

.most_effective p {
    color: #fff;
    font-size: 1.7rem;
    line-height: 3rem;
}

.most_effective .we_are_inside{
    max-width: 100%;
}

.cbd_work_section .b-new-item__slide-arrow-icon.material-icons{
    /*font-size: 5rem;*/
    color: #000;
}
.cbd_work_section .b-new-item__slide-arrow--next, .cbd_work_section .b-new-item__slide-arrow--prev{
    top: calc(50% - 50px);
}
.cbd_work_section .b-new-item__slide-arrow--prev{
    left: 0;
}
.cbd_work_section .b-new-item__slide-arrow--next{
    right:0;
}

.cbd_work_section .p-top__main-visual-dots{
    left: calc(50% - 29px);
    bottom: -50px;
}

.cbd_work_section .p-top__main-visual-dots button:before,
.cbd_work_section .p-top__main-visual-dots .slick-active button:before{
    background-color: #333;
}

/* How it works block : END */

/* Last Checked Products */
.ec-checkProductRole{
    padding: 60px 0 0;
}
.ec-checkProductItemRole__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ec-checkProductRole__listItem{
    margin-bottom: 4%;
    width: 48%;
    height: auto;
}
.ec-checkProductRole__listItem:nth-child(odd) {
    /*margin-right: 4%;*/ }
.ec-checkProductRole__listItemTitle {
    margin: 8px 0;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.ec-checkProductRole{
    padding: 60px 0;
}
.ec-checkProductRole__listItem{
    margin-bottom: 15px;
    width: calc(100% / 5 - 16px); /* 20px right margin x 4 / 5 */
}
.ec-checkProductRole__listItem:not(:last-of-type){
    margin-right:20px;
}

.ec-checkProductRole__listItemTitle:nth-child(odd){
    margin-right: 20px;
}
/* Last Checked Products : END */

/*** Products Detail Page : /products/detail.twig : END ***/

/*** My Page : /mypage/ ***/
.ec-closeBtn--circle {
    z-index : 1;
}
/*** My Page : /mypage/ : END ***/

/*** FAQ : /user_data/faq ***/
.ec-pageHeader h1{
    border-bottom: 2px solid #E8E8E8;
}

.p-help__guide-parts-label {
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
}
.p-help__guide-parts.u-dl-sanitize{
    margin-bottom: 40px;
    padding-top: 12px;
}
.p-help__guide-parts-detail .p-help__guide-box{
    margin-left: 16px;
}
.p-help__guide-parts-detail .p-help__guide-box a {
    text-decoration: underline;
}
/*** FAQ : /user_data/faq : END ***/

/*** Privacy policy : /help/privacy ***/
#page_help_privacy .ec-heading-bold{
    margin-top: 40px;
}
/*** Privacy policy : /help/privacy : END ***/

/*** Footer : /Block.footer.twig ***/
.ec-footerRole {
    padding: 60px 0 30px;
    background-color: #000;
}
h3.footer_logo_text {
    margin: 0 0 8px;
    font-size: 28px;
    font-weight: normal;
}

h3.footer_phone {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 5px;
}

p.biz_hrs {
    font-size: 16px;
    margin: 0;
}

.footer_contact_btn {
    margin-top: 10px;
}
.pawn_btn{
    background: url(../img/footer/goemon_background.jpg) center center no-repeat;
    background-size: cover;
}
.pawn_btn a,
.footer_contact_btn a {
    padding: 10px 32px;
    background: #fff;
    color: #000;
    display: inline-block;
}
.pawn_btn a{
    background: rgb(0,0,0,.5);
    padding: 60px 32px 40px;
    color: #fff;
}
.pawn_btn p:last-of-type{
    padding-top: 2rem;
    line-height: 3rem;
}
.pawn_btn i{
    font-size: 3rem;
    padding-left: 1rem;
    vertical-align: bottom;
}

.footer_copyright {
    font-size: 14px;
    color: #fff;
    padding-top: 25px;
    text-align: center;
}

.footer_license p {
    font-size: 14px;
    line-height: 24px;
}

.footer_menu_half ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_menu_half ul li {
    margin-bottom: 12px;
    font-size: 14px;
}

.footer_menu_half ul li a {
    color: #fff;
}

.footer_half {
    float: left;
    width: calc(33% - 10px);
    padding-right: 10px;
    color: #fff;
}

.footer_half.last {
    padding-right: 0;
    padding-left: 10px;
}

.footer_menu_half {
    float: left;
    width: calc(50% - 10px);
    padding-right: 10px;
}

.footer_menu_half.last {
    padding-right: 0;
    padding-left: 10px;
}

.footer_row2 {
    /*margin-top: 35px;*/
}

.b-footer__sns-list{
    margin: 1rem -7px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.b-footer__sns-list-item {
    list-style: none;
    margin: 0 7px;
}
.b-footer__sns-link{
    width: 44px;
    padding: 44px 0 0;
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
}
.b-footer__sns-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.b-footer__sns-link.is-twitter:before{
    background: url(../img/footer/twitter-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}
.b-footer__sns-link.is-facebook:before{
    background: url(../img/footer/facebook-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}
.b-footer__sns-link.is-instagram:before{
    background: url(../img/footer/instagram-ico.png) no-repeat center center;
    background-size: contain;
    width: 44px;
    height: 44px;
}
.footer_maritime_link{
    display: block;
    margin: 20px 0;
}
.footer_maritime_link img{
    max-width: 100%;
}

/*** Footer : /Block.footer.twig : END ***/

/*********** Ipad *************/

@media screen and (min-width: 768px) and (max-width: 980px) {
    /*** Header ***/
    .ec-headerNaviRole{
        padding: 10px 20px;
    }
    .ec-headerNaviRole .ec-headerNaviRole__left{
        width: 100%;
        text-align: center;
    }
    .head_search{
        width: unset;
        float: unset;
    }
    .ec-headerSearch .ec-headerSearch__keyword{
        width: 200px;
        /*left: calc(50% - 100px);*/
        float: left;
    }
    .search_lbl{
        width: calc(50% - 200px);
    }
    /*** Header : END ***/

    /*** Assessment banner ***/
    .assessment_banner .ec-role a{
        flex-wrap: wrap;
    }
    .assessment_banner span{
        font-size: 1.7rem;
    }
    .assessment_banner span:nth-of-type(2){
        /*padding: 1rem 0;*/
    }
    /*** Assessment banner : END ***/

    /*** Home page banner ***/
    .banner-left{
        /*height: 100vw;*/
    }
    .banner-middle{
        /*height: 100vw;*/
    }
    .banner-right{
        /*height: 100vw;*/
    }
    .banner-middle-container{
        padding: 1.5em 1em;
    }
    .banner-middle-container h2{
        font-size: 2.5rem;
        margin-top: 0;
    }
    /*** Home page banner: end ***/

    /*** New Products ***/
    .ec-newItemRole__listItem{
        width: calc(100% / 4);
    }
    .ec-newItemRole__list{
        margin: 0;
    }
    .ec-newItemRole__list .slick-dots li{
        width: 10px;
        height: 10px;
        margin: 0 2px;
    }
    .ec-newItemRole__list .slick-dots li button{
        width: 10px;
    }
    .ec-newItemRole{
        padding-bottom: 60px;
    }
    .ec-newItemRole .ec-newItemRole__list{
        margin: 0;
    }
    /*** New Products : END ***/

    /*** Shop info block ***/
    #shop_info{
        background: url(../img/top/shop/shop_front.jpg) cover center no-repeat;
        background-size: cover;
    }
    #shop_info p{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    #shop_info iframe{
        padding: 20px 0;
    }
    /*** Shop info block : END ***/

    /*** Products List Page : /products/list.twig ***/
    .list_nav .hero_area .img,
    .list_nav .hero_area .text{
        flex: unset;
        min-height: unset;
    }
    .list_nav .hero_area{
        width: 100%;
    }
    /*** Products List Page : /products/list.twig : END  ***/

    /*** Product Detail Page : /products/detail.twig ***/

    /* Last Checked Products */
    .ec-checkProductRole__listItem{
        width: calc(100% / 4 - 15px); /* 20px margin x 3 / 2 */
    }
    .ec-checkProductRole__listItem:nth-child(4n){
        margin-right: 0;
    }
    /* Last Checked Products : END */
    /*** Product Detail Page : /products/detail.twig ***/
}


/***********  Mobile ***********/

@media only screen and (max-width: 767px){
/*** Header ***/
    .ec-headerNaviRole{
        padding: 10px 20px;
    }
    .ec-headerNaviRole .ec-headerNaviRole__left{
        width: 100%;
        text-align: center;
    }
    .head_search{
        width: unset;
        float: unset;
    }
    .ec-headerSearch .ec-headerSearch__keyword{
        width: 300px;
        left: calc(50% - 150px);
        float: left;
    }
    .ec-drawerRole .ec-headerSearch .ec-headerSearch__keyword{
        width: 100%;
        left: 0;
    }
/*** Header : END ***/

/*** Assessment banner ***/
.assessment_banner .ec-role a{
    flex-wrap: wrap;
}
.assessment_banner span{
    font-size: 1.7rem;
}
.assessment_banner span:nth-of-type(2){
    /*padding: 1rem 0;*/
}
/*** Assessment banner : END ***/

/*** Home page banner ***/
.banner-left{
    height: 100vw;
    flex: 1 1 100%;
}
.banner-middle{
    height: 100vw;
    flex: 1 1 100%;
}
.banner-right{
    height: 100vw;
    flex: 1 1 100%;
}
.banner-middle-container{
    padding: 1.5em 1em;
}
.banner-middle-container h2{
    font-size: 3rem;
    margin-top: 0;
}
/*** Home page banner: end ***/

/*** New Products ***/
.ec-newItemRole__listItem{
    width: calc(100% / 2);
}
.ec-newItemRole__list{
    margin: 0;
}
.ec-newItemRole__list .slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 2px;
}
.ec-newItemRole__list .slick-dots li button{
    width: 10px;
}
.ec-newItemRole,
div.ec-newItemRole.ec-rankingRole{
    padding-bottom: 60px;
}
.ec-newItemRole .ec-newItemRole__list{
    margin: 0;
}
/*** New Products : END ***/

/*** Shop info block ***/
#shop_info{
    background: url(../img/top/shop/shop_front.jpg) cover center no-repeat;
    background-size: cover;
}
#shop_info p{
    font-size: 2rem;
    line-height: 3.5rem;
}
#shop_info iframe{
    padding: 20px 0;
}
.shop_container.shop-info .info{
    margin: 0;
}
/*** Shop info block : END ***/

/*** Products List Page : /products/list.twig ***/
.list_nav .hero_area .img,
.list_nav .hero_area .text{
    flex: unset;
    min-height: unset;
}
/*** Products List Page : /products/list.twig : END  ***/

/*** Product Detail Page : /products/detail.twig ***/
.item_nav.sp_only{
    display: flex !important;
    display: -webkit-flex !important;
    align-items: center;
}
.cbd_slides_inside {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}
.cbd_img, .cbd_img_water {
    flex: 0 0 100%;
    padding: 0!important;
    text-align: center;
}
.cbd_text {
    flex: 0 0 100%;
}
.cbd_work_section .cbd_text_inside, .cmn-container .cmn-container {
    padding-left: 0;
    padding-right: 0;
}

.b-goemon_slider_49{
    width: 100% !important;
}

/* Last Checked Products */
.ec-checkProductRole__listItem{
    width: calc(100% / 2 - 10px); /* 20px margin / 2 */
}
.ec-checkProductRole__listItem:nth-child(even){
    margin-right: 0;
}
/* Last Checked Products : END */

/*** Product Detail Page : /products/detail.twig ***/
}