{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{ '当サイトについて'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <div class="ec-borderedDefs">
                {% if BaseInfo.shop_name|default is not empty %}
                    <dl id="help_about_box__shop_name">
                        <dt>
                            <label class="ec-label">{{ '店名'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.shop_name }}</dd>
                    </dl>
                {% endif %}
                {% if BaseInfo.company_name|default is not empty %}
                    <dl id="help_about_box__company_name">
                        <dt>
                            <label class="ec-label">{{ '会社名'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.company_name }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.postal_code|default is not empty %}
                    <dl id="help_about_box__address">
                        <dt>
                            <label class="ec-label">{{ '住所'|trans }}</label>
                        </dt>
                        <dd>{{ '〒'|trans }}{{ BaseInfo.postal_code|slice(0, 3) }}-{{ BaseInfo.postal_code|slice(3) }}<br />
                            {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }} [<a href="https://goo.gl/maps/D8JdECfacq5vY5nTA" target="_blank">MAP</a>]
                        </dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.phone_number|default is not empty %}
                    <dl id="help_about_box__phone_number">
                        <dt>
                            <label class="ec-label">{{ '電話番号'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.phone_number|slice(0, 3) }}-{{ BaseInfo.phone_number|slice(3, 3) }}-{{ BaseInfo.phone_number|slice(6) }}</dd>
                    </dl>
                {% endif %}
                {#
                <dl id="help_about_box__phone_number">
                    <dt>
                        <label class="ec-label">{{ 'FAX'|trans }}</label>
                    </dt>
                    <dd>078-362-1145</dd>
                </dl>
                #}
                {% if BaseInfo.business_hour|default is not empty %}
                    <dl id="help_about_box__business_hour">
                        <dt>
                            <label class="ec-label">{{ '店舗営業時間'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.business_hour }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.good_traded|default is not empty %}
                    <dl id="help_about_box__good_traded">
                        <dt>
                            <label class="ec-label">{{ '取り扱い商品'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.good_traded|nl2br }}</dd>
                    </dl>
                {% endif %}

                {% if BaseInfo.message|default is not empty %}
                    <dl id="help_about_box__message">
                        <dt>
                            <label class="ec-label">{{ 'メッセージ'|trans }}</label>
                        </dt>
                        <dd>{{ BaseInfo.message|nl2br }}</dd>
                    </dl>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
