{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <section class="ec-role p-help">

        <div class="p-help__heading ec-pageHeader">
            <h1 class="c-page-title">
                <span class="c-page-title__text">ご利用ガイド</span>
            </h1>
        </div>

        <div class="p-help__contents">
            <div class="p-help__guide">
                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・不正ログイン対策について</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>{{ 'お客様に安全なサービスを提供するため、不正なログインやサービス利用の防止対策を行うとともに、お客様ご自身での対策をお願いしています。

                                    以下に、お客様ご自身で行っていただける対策についてご案内いたします。

                                    対策1：メールアドレス・パスワードの厳重な管理とパスワードの定期的な変更
                                    ・12345678やabcdefgeなどの単純な文字列、お客様の名前、電話番号、生年月日だけの構成は避けてください。
                                    ・8 文字以上の英数字記号の組み合わせなど、ある程度の長さ、複雑さを持たせることで第三者に推測されにくくなります。また、他のサイトやサービスとは異なるパスワードに設定することで、よりセキュリティの向上につながります。
                                    ※クレジットカードの不正利用が発覚した場合は、まずはご利用のクレジットカード会社に必ずご連絡ください。
                                    対策2：端末のセキュリティ強化
                                    パソコンやスマートフォンなどのご利用端末の情報や操作を盗み取るコンピューターウイルスが増加しています。
                                    セキュリティソフトの導入など、ご利用端末のセキュリティ強化を推奨します。'|nl2br }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="help03">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・ログインに関してお困りの場合</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>・パスワードを忘れてしまった場合</p>
                                <p><a href="{{ url('forgot') }}">「パスワードをお忘れの方はこちら」</a>より、ご登録時にご入力いただきましたメールアドレス、電話番号をご入力の上、パスワードの再設定をお願いいたします。</p>
                                <p>・メールアドレスおよび電話番号を忘れてしまった場合</p>
                                <p><a href="{{ url('contact') }}">お問い合わせフォーム</a>よりお問い合わせください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・会員登録を再度行う場合</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>・過去に会員登録を行っていた方が、別のアドレスを使用して再度登録した際、ポイントの移行等、情報を移行することはできません。
                                    ご了承の上、<a href="{{ url('entry') }}">会員登録</a>へお進みください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="help06">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・会員情報の登録・変更・削除に関して</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>・会員情報の変更、登録の削除はマイページ内で設定可能です。</p>
                                <p>・ログインした状態であれば、下記リンクより情報の修正を行うことができます。</p>
                                <p>・会員登録の変更は<a href="{{ url('mypage_change') }}">こちら</a>をクリックしてください。</p>
                                <p>・会員情報の削除（退会）は<a href="{{ url('mypage_withdraw') }}">こちら</a>をクリックしてください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="help07">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・メールマガジンに関して</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>メールアドレスの変更、登録の削除はマイページ内で設定可能です。</p>
                                <p>・メールアドレスを変更したい場合は、マイページ内の<a href="{{ url('mypage_change') }}#mailmaga">メールアドレスの変更</a>より、アドレスの変更を行うことができます。</p>
                                <p>・メールマガジンの配信停止は、マイページから行うことができます。 マイページの会員情報編集で<a href="{{ url('mypage_change') }}#mailmaga">『メールマガジン送付について」</a>をクリックしてください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="help08">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・GOEMONポイントに関して</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>・お買い上げいただいた商品代金（税抜き）の1％をGOEMONポイントとして付与いたします。</p>
                                <p>現在のポイント累計数や履歴は、<a href="{{ url('mypage') }}">マイページ</a>からご確認できます。 </p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・注文の確認と過去の購入履歴に関して</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>注文の確認と過去の購入履歴は、マイページ内の<a href="{{ url('mypage') }}">ご注文履歴一覧</a>からご覧いただけます（GOEMON会員限定）。</p>
                                <p>非会員の方は、ご購入時に配信されましたメールをご参照いただき、不明な点があります際は<a href="{{ url('contact') }}">お問い合わせページ</a>よりお問い合わせください。</p>                                    　　
                                <p>※店舗側より、ご注文のキャンセル・返品処理が完了した場合は、購入履歴のステータスが変更、削除されます。</p>
                                <p>※『ご注文ありがとうございます』という件名のメールが届いていればご注文は受け付けられていますので、購入履歴反映まで今しばらくお待ちください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize" id="help14">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・メールが届かない</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>BRANDSHOP GOEMONからメールが届かない際は、ご使用の端末やメールの設定などによりメール受信がブロックされている場合があります。
                                    また、迷惑メールフォルダに振り分けされていることもありますので、受信設定をお確かめください。</p>
                                <p class="my-3 bg-light">PCからのご注文に関して</p>
                                <p>{{ 'ご利用されているメールサービスにより、受信メールを自動的に「迷惑メールフォルダ」に移動する設定になっている場合があります。
    お使いのメールサービスの設定をご確認ください。
    設定方法の詳細は、プロバイダーなどご利用されているメールサービス提供会社にご確認ください。'|nl2br }}</p>
                                <p class="my-3 bg-light">携帯電話からのご注文に関して</p>
                                <p>{{ 'ご利用されている携帯電話の設定が「パソコンからのメールを受信しない」「決められた宛先からのメールのみ受信する」など、
受信制限がかかっている場合があります。『@b-goemon.com』からのメールを受信できるように設定変更をお願いします。
※auのメールアドレス（@ezweb.ne.jp）の方は、 迷惑メールフィルターの設定を『なりすまし規制：規制する（低）』にしてご利用ください。
なお、携帯電話会社ごとの設定方法はこのページの下部にあるリンクからご確認ください。'|nl2br }}</p>
                                <p class="my-3 bg-light">注文時の電話番号に関して</p>
                                <p>{{ '店舗からお客様にメールで連絡が取れない場合、お電話にてお客様にご連絡する場合があります。
当モールからのご注文時の電話番号は、日中連絡のとれる番号にしていただくようお願いします。
※携帯電話会社ごとの設定は以下のとおりです。
・<a href="https://www.nttdocomo.co.jp/info/spam_mail/measure/domain/index.html" target="_blank">docomoの場合の設定方法</a>
・<a href="http://www.au.kddi.com/support/mobile/trouble/forestalling/mail/anti-spam/fillter/" target="_blank">auの場合の設定方法</a>
・<a href="http://www.softbank.jp/mobile/support/antispam/settings/indivisual/whiteblack/" target="_blank">SoftBankの設定方法</a>
'|raw|nl2br }}<p>
                                <p>上記をご確認いただいても解決しない場合は、<a href="{{ url('contact') }}">「GOEMONカスタマーサポート」</a> まで お問い合わせください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・価格・商品に関するお問い合わせ</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>価格・商品に関するお問い合わせは、商品詳細ぺーじの「この商品のお問い合わせ」フォームより承らせていただきます</p>
                                <p>ご注文済みの商品に関するお問い合わせの際は、オーダーIDの明記をお願いいたします。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="p-help__guide-parts u-dl-sanitize">
                    <dt class="p-help__guide-parts-label">
                        <span class="p-help__guide-parts-label-text">・その他GOEMONに関するご意見、ご質問、お問い合わせ</span>
                    </dt>
                    <dd class="p-help__guide-parts-detail">
                        <div class="p-help__guide-box">
                            <div class="p-help__guide-box-item">
                                <p>その他モールに関するご意見、ご質問、お問い合わせは、<a href="{{ url('contact') }}">お問い合わせページ</a>よりお問い合わせください。</p>
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

    </section>
{% endblock %}
