{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <p>BRANDSHOP GOEMON(以下当ショップ)は高度情報化社会における個人情報保護の重要性を強く認識し、ユーザーの皆様に関する個人情報は当社が定めるプライバシーポリシーに則り、その収集や取り扱いには細心の注意を払うことをお約束致します。さらに、当社はこのプライバシーポリシーで定めた方針を徹底するため、個人情報保護コンプライアンスプログラムを独自に策定・実行し、従業員その他関係者に周知させて継続的にその内容の改善に努力致します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">1.個人情報の定義</div>
                <p>「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、及び他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをいいます。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">2.個人情報の収集</div>
                <p>{{ '当ショップでは商品のご購入、お問合せをされた際にお客様の個人情報を収集することがございます。
収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。

当ショップで収集する個人情報は以下の通りです。

a)お名前、フリガナ
b)ご住所
c)お電話番号
d)メールアドレス
e)パスワード
f)配送先情報
g)当ショップとのお取引履歴及びその内容
h)上記を組み合わせることで特定の個人が識別できる情報'|nl2br }}</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">3.個人情報の利用</div>
                <p>{{ '当ショップではお客様からお預かりした個人情報の利用目的は以下の通りです。

a)ご注文の確認、照会
b)商品発送の確認、照会
c)お問合せの返信時

当ショップでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。

a)法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
b)人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
c)当ショップを運営する会社の関連会社で個人データを交換する場合'|nl2br }}</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">4.個人情報の安全管理</div>
                <p>お客様よりお預かりした個人情報の安全管理は当社によって合理的、組織的、物理的、人的、技術的施策を講じるとともに、当ショップでは関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">5.個人情報の訂正、削除</div>
                <p>お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。</p>
                <p>また、ユーザー登録された場合、当サイトのメニュー「マイアカウント」より個人情報の訂正が出来ます。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">6.cookie(クッキー)の使用について</div>
                <p>当社は、お客様によりよいサービスを提供するため、cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。</p>
                <p>※cookie （クッキー）とは、サーバーコンピュータからお客様のブラウザに送信され、お客様が使用しているコンピュータのハードディスクに蓄積される情報です。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">7.SSLの使用について</div>
                <p>個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。</p>
                <p>※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">8.お問合せ先</div>
                <p>特定商取引法に基づく表記をご覧ください。</p>
            </div>
        </div>

        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">9.プライバシーポリシーの変更</div>
                <p>当ショップでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>
            </div>
        </div>
    </div>
{% endblock %}
