{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社リード企画</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>代表取締役 内藤 海鏡</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd class="d-flex">
                            <div class="flex-grow-1">
                                <p>〒652-0042</p>
                                <p>兵庫県神戸市兵庫区東山町2丁目8番7号</p>
                            </div>
                            <div class="flex-grow-1">
                                <p>〒{{ BaseInfo.postal_code|slice(0, 3) }}-{{ BaseInfo.postal_code|slice(3) }}</p>
                                <p>{{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }} [<a href="https://goo.gl/maps/D8JdECfacq5vY5nTA" target="_blank">MAP</a>]</p>
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">サービス名</label>
                        </dt>
                        <dd>BRANDSHOP GOEMON</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>078-362-1144</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@b-goemon.com">info@b-goemon.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">ホームページアドレス</label>
                        </dt>
                        <dd><a href="https://b-goemon.com"></a>b-goemon.com</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>送料：全国一律800円　※税別30,000円以上のお買い上げで送料無料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd><p>前払いの場合、指定日がなければ入金確認後1～3営業日以内で発送致します。</p>
                            <p>代引きの場合、指定日がなければご注文確認後1～3営業日以内で発送致します。</p>
                            <p>その他の場合、指定日がなければご注文確認後1～3営業日以内で発送致します。</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">申込有効期限</label>
                        </dt>
                        <dd><p>ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">販売数量</label>
                        </dt>
                        <dd>1個から</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">配送・送料</label>
                        </dt>
                        <dd><p>古物商許可　兵庫県公安委員会 第631141800009号</p>
                            <p>質屋許可　　兵庫県公安委員会 第631141800002号</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払い期限</label>
                        </dt>
                        <dd><p>ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。 </p></dd>
                    </dl>

                    <dl id="delivery">
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd><p>ゆうパック</p>
                            <p>佐川急便</p></dd>
                    </dl>

                    <dl id="payment">
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>
                            <p>{{ 'クレジットカード
銀行振込'|nl2br }}
                            </p>
                            <div class="skpr_detail_list_dd">
                                <img class="payment_img" src="https://img.shop-pro.jp/common/card2.gif">
                                <img class="payment_img" src="https://img.shop-pro.jp/common/card6.gif">
                                <img class="payment_img" src="https://img.shop-pro.jp/common/card18.gif">
                                <img class="payment_img" src="https://img.shop-pro.jp/common/card0.gif">
                                <img class="payment_img" src="https://img.shop-pro.jp/common/card9.gif">
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払い期限</label>
                        </dt>
                        <dd><p>ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。 </p></dd>
                    </dl>

                    <dl id="cancel">
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd><p><strong>返品期限</strong></p>
                            <p class="pb-5">商品到着後3日以内にご連絡を頂いた場合に限りご対応させていただきます。</p>
                            <p><strong>返品送料</strong></p>
                            <p class="pb-5">お客様都合による返品につきましてはお客様のご負担とさせていただきます。不良品に該当する場合は当方で負担いたします。</p>
                            <p><strong>不良品</strong></p>
                            <p>ご注文確定後のキャンセル・発送後の返品は商品の性質上、お断りさせていただいております。
                                「商品説明の記載と明かに異なる状態・ご注文と異なる商品」が到着した場合や配送途中の破損などの事故がございましたら、商品到着後3日以内に弊社まで電話またはメールにてご連絡ください。</p></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
