{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% autoescape false %}
※本メールは自動配信メールです。

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
　※本メールは、
　{{ BaseInfo.shop_name }}より会員登録を希望された方に
　お送りしています。
　もしお心当たりが無い場合は、
　その旨 {{ BaseInfo.email02 }} まで
　ご連絡いただければ幸いです。
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

{{ Customer.name01 }} {{ Customer.name02 }} 様

{{ BaseInfo.shop_name }}でございます。

この度は会員登録依頼をいただきまして誠にありがとうございます。

本会員登録が完了いたしました。

{# 500円　クーポン #}
{% if Customer.mailmagaFlg == "1" %}
メルマガに登録頂きありがとうございます。

商品をご購入いただく際にクーポン番号をご入力いただくだけで500円割引！！！

500円割引のクーポンコードは「GOEMON500」です。
{% endif %}

ショッピングをお楽しみくださいませ。

今後ともどうぞ{{ BaseInfo.shop_name }}をよろしくお願い申し上げます。

{% endautoescape %}