<script async="async" defer="defer" src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js"></script>
<script>
    $(function () {
        var current_URL = window.location.origin + window.location.pathname;
        var current_title = document.title;
        var encoded_current_URL = encodeURI(current_URL);
        var add_html_twitter = '<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-lang="ja" data-size="large">ツイートする</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"><\/script>';
        var add_html_facebook = '<iframe src="https://www.facebook.com/plugins/share_button.php?href=' + encoded_current_URL + '&layout=button&size=large&mobile_iframe=true&width=75&height=28&appId" width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>';
        var add_html_line = '<div class="line-it-button" data-lang="ja" data-type="share-c" data-url="' + location.href + '" style="display: none;"></div>';
        var add_html = '<div><span class="mg_socialbutton_1">' + add_html_twitter + '</span>' + '<span class="mg_socialbutton_2">' + add_html_facebook + '</span>' + '<span class="mg_socialbutton_3">' + add_html_line + '</span></div>';
        $('.ec-productRole__description').eq(0).before(add_html);
        LineIt.loadButton();
    });
</script>
<style>
    .mg_socialbutton_1,
    .mg_socialbutton_2,
    .mg_socialbutton_3 {
        display: inline-block;
        margin: 5px 10px 5px 5px;
    }
</style>