{% extends 'default_frame.twig' %}

{% block main %}
	<section class="ec-role p-help">

		<div class="p-help__heading ec-pageHeader">
			<h1 class="c-page-title">
				<span class="c-page-title__text">よくあるご質問</span>
			</h1>
		</div>

		<div class="p-help__contents">
			<div class="p-help__guide">
				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・会員登録について</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>会員登録については、ご利用ガイド、<a href="{{ url('help_guide') }}#help06">会員情報の登録・変更・削除に関して</a>をご覧ください。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・メールが届かない</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>ショップからのメール未着に関してお困りの方は、ご利用ガイドの<a href="{{ url('help_guide') }}#help14">メールが届かない</a>をご覧ください。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・メールマガジンに関して</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>メールマガジン登録は<a href="{{ url('mypage_change') }}#mailmaga">こちら</a>をご覧ください。<p>
								<p>すでにメールマガジンにご登録済みで、登録情報の変更、配信の停止をご希望のお客様</p>
								<p>・メールアドレスを変更したい場合は、マイページ内、<a href="{{ url('mypage_change') }}#mailmaga">メールアドレスの変更</a>より、アドレスの変更を行うことができます。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・パスワードを忘れてしまった</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>ご利用ガイド、<a href="{{ url('help_guide') }}#help03">ログインに関してお困りの方へ</a>をご覧ください。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・ポイントに関して</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>ご利用ガイド、ポイントに関しては<a href="{{ url('help_guide') }}#help08">こちら</a>をご覧ください。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・過去の注文を確認したい</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>GOEMON会員限定で、<a href="{{ url('mypage') }}">過去の注文を確認</a>することができます。 ゲスト会員の過去の注文履歴照会はできませんので、注文完了時に発行されるオーダーIDを必ずお控えいただきますようお願いいたします。 </p>
								<p>新規登録は<a href="{{ url('entry') }}">こちら</a></p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・お得なセール情報</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>メールマガジンで、お得なセール情報などを配信しています。メールマガジン登録は<a href="{{ url('mypage_change') }}#mailmaga">こちら</a>をご覧ください。</p>
							</div>
						</div>
					</dd>
				</dl>

				<dl class="p-help__guide-parts u-dl-sanitize">
					<dt class="p-help__guide-parts-label">
						<span class="p-help__guide-parts-label-text">・その他お問い合わせ</span>
					</dt>
					<dd class="p-help__guide-parts-detail">
						<div class="p-help__guide-box">
							<div class="p-help__guide-box-item">
								<p>商品に関するお問い合わせは各店舗へお問い合わせをお願いいたします。 当モールへのご意見、ご質問は<a href="{{ url('contact') }}">お問い合わせフォーム</a>よりお問い合わせください。</p>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>

	</section>

{% endblock %}