.ec-footerRole {
  &.footer {

    .footer_row1 {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      .footer_half {
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          padding: 15px 10px;
        }
        &.last {}
        @media (max-width: 768px) {
          .pawn_btn a {
            width: 100%;
          }
        }
      }
    }

    .footer_row2 {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .footer_half {
        @media (max-width: 768px) {
          width: 100%;
          padding-right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
    .footer_menu_half {
      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}