.ec-headerRole {
  &.header-logo {
    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }

    .ec-headerRole__title {
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    .wrapper-header-nav {
      display: none;

      .nav-item {
        &:not(:last-child) {
          margin-right: 10px;

          @media (max-width: 576px) {
            margin-right: 5px;
          }
        }
      }

      @media (max-width: 768px) {
        display: flex;
        position: absolute;
        right: 0;
        top: 5px;
      }
    }

    .ec-headerNavSP {
      top: 10px;
    }

    .ec-headerTitle {
      .header-logo {
        @media (max-width: 576px) {
          max-width: 100px;
        }
      }

    }
  }
}

.header-search {
  .search_lbl {
    @media (max-width: 768px) {
      width: unset;
      text-align: left;
      display: none;
    }
  }

  .search-input {
    @media (max-width: 768px) {
      margin-right: 30px;
    }

    @media (max-width: 576px) {
      width: 100%;
      margin-right: 0;
    }
  }
}

.ec-headerNaviRole__right {
  @media (max-width: 576px) {
    display: none !important;
  }
}

.assessment_banner {
  .second-header-items {
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .second-header-description {
      @media (max-width: 576px) {
        font-size: 16px;
      }

      @media (max-width: 360px) {
        font-size: 15px;
      }
    }
  }
}


