.ec-categoryRole {
  &.brand-section, &.category-section {
    width: 100vw;

    .sq_btn {
      @media (max-width: 768px) {
        margin: 20px 0;
      }

      a {
        text-decoration: none;
        @media (max-width: 576px) {
          width: 100%;
        }
      }
    }
  }
}
