<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <meta name="format-detection" content="telephone=no">
    <title>{{ 'BRANDSHOP GOEMONオンラインストア｜中古品通販の神戸元町のブランドショップゴエモン'|trans }}｜{% if subtitle is defined and subtitle is not empty %}{{ subtitle }} / {% elseif title is defined and title is not empty %}{% if title != 'TOPページ' %}{{ title }} / {% endif %}{% endif %}{{ BaseInfo.shop_name }}</title>
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    <meta property="og:image" content="{{ url('homepage') }}{{ asset('assets/img/logo.jpg') }}">
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% else %}
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://b-goemon.com/">
        <meta property="og:site_name" content="【GOEMON】欲しいブランド品がすぐ見つかる！ネット中古品通販の神戸元町のサイト！">
        <meta property="og:title" content="BRANDSHOP GOEMONオンラインストア｜中古品通販の神戸元町のブランドショップゴエモン">
        {% if '/products/list' in app.request.server.get('REQUEST_URI') %}
            {# Brand/Category listing pages #}
            {% if '?category_id=3' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'ジュエリー　ランキング,ジュエリー　通販, ジュエリー 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気ランキング上位のジュエリーの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気ランキング上位のジュエリーの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=7' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'バッグ ブランド,ショルダーバッグ レディース, ブランドバッグ 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'バッグブランドやレディースショルダー バッグの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'バッグブランドやレディースショルダー バッグの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=8' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'お財布 ブランド,ブランド財布　人気, お財布 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のブランド財布や人気のお財布ブランドの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のブランド財布や人気のお財布ブランドの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=9' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'アクセサリー ブランド,アクセサリー 通販,小物 ブランド,小物 通販, アクセサリー 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '小物・アクセサリーブランドや人気の小物・アクセサリーの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'アクセサリーブランドや人気のアクセサリーの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=10' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'ファッション　通販,ファッション　レディース, ファッション 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のレディースファッションがお手軽値段の中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のレディースファッションがお手軽値段の中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=11' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ '時計のブランド,時計の安い店, ブランド時計 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気の高級時計ブランドがお手軽に手に入る中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気の高級時計ブランドがお手軽に手に入る中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif ('?category_id=12' in app.request.server.get('REQUEST_URI')) or ('?category_id=24' in app.request.server.get('REQUEST_URI')) %}
                <meta name="keywords" content="{{ 'ダイヤモンド　ネックレス,ゴールド　指輪, ネックレス 買取, ダイヤモンド　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'ダイヤモンドネックレスやゴールド指輪などその他の中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'ダイヤモンドネックレスやゴールド指輪などその他の中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=13' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'ヴィトン アウトレット,ルイヴィトン　バッグ　中古, ルイヴィトン 買取, ルイヴィトン　バッグ 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'LOUISVUITTONルイヴィトンのバッグや中古アウトレット情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'LOUISVUITTONルイヴィトンのバッグや中古アウトレット情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=14' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'チャネルバッグ　人気,チャネルバッグ　中古, チャネル 買取, チャネルバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のCHANELチャネルバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のCHANELチャネルバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=15' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'エルメス　バッグ　レディース,エルメス　バッグ　中古, エルメス 買取, エルメスバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'HERMESエルメスのバッグやレディース中古情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'HERMESエルメスのバッグやレディース中古情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=16' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'グッチ バッグ　レディース,グッチ バッグ　ショルダー, グッチ 買取, グッチバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'GUCCIグッチのショルダーバッグやレディースアウトレット中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'GUCCIグッチのショルダーバッグやレディースアウトレット中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=17' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'コーチアウトレットバッグ,コーチ財布バッグ, コーチ 買取, コーチバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'COACHコーチの財布バッグ、中古バッグ通販を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'COACHコーチの財布バッグ、中古バッグ通販を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=18' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'プラダバッグ　人気,プラダバッグ　中古, プラダ 買取, プラダバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のPRADAプラダバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のPRADAプラダバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=19' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'カルティエバッグ　中古,カルティエ 財布, カルティエ 買取, カルティエバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'CARTIERカルティエの財布や中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'CARTIERカルティエの財布や中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=20' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'ブルガリ　時計,ブルガリ　財布, ブルガリ 買取, ブルガリ時計　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'BVLGARIブルガリのブルガリ時計、財布などの中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'BVLGARIブルガリのブルガリ時計、財布などの中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=21' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'クリスチャン・ディオール　バッグ,クリスチャン・ディオール　財布, クリスチャン・ディオール 買取, クリスチャン・ディオール 財布　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'ChristianDiorクリスチャン・ディオールのバッグ、ディオール財布の中古情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'ChristianDiorクリスチャン・ディオールのバッグ、ディオール財布の中古情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=22' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'ティファニー　指輪,ティファニー　ピアス, ティファニー 買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'Tiffany&coティファニーの中古指輪やピアス通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'Tiffany&coティファニーの中古指輪やピアス通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=23' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'セリーヌバッグ　人気,セリーヌバッグ　中古, セリーヌ 買取, セリーヌバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のCELINEセリーヌバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のCELINEセリーヌバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=25' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'サングラス ブランド,サングラス 日本人向け 女性, サングラス 買取, ブランドサングラス　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '日本人向けの女性サングラス 、人気のサングラスブランドなどの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '日本人向けの女性サングラス 、人気のサングラスブランドなどの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=26' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'フェンディバッグ　人気,フェンディバッグ　中古, フェンディ 買取, フェンディバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のFENDIフェンディバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のFENDIフェンディバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=27' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'イヴ・サンローランバッグ　人気,イヴ・サンローランバッグ　中古, イヴ・サンローラン 買取, イヴ・サンローランバッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ '人気のYvesSaintLaurent/イヴ・サンローランバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ '人気のYvesSaintLaurentイヴ・サンローランバッグ、中古バッグ通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% elseif '?category_id=28' in app.request.server.get('REQUEST_URI') %}
                <meta name="keywords" content="{{ 'リング ブランド,リング 通販, ブランドリング 買取, リング　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'リングブランドや人気のリングの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
                <meta property="og:description" content="{{ 'リングブランドや人気のリングの中古通販情報を、神戸元町のブランドショップ GOEMONからご紹介します。'|trans }}">
            {% else %}
                <meta name="keywords" content="{{ 'ブランドバッグ中古取扱い,神戸のブランドショップ, ブランドバッグ 買取, バッグ　買取, 中古品高価買取中'|trans }}">
                <meta name="description" content="{{ 'エルメス、ルイ・ヴィトン、シャネルなどのブランドバッグ、宝石の中古品を取り扱う、神戸元町のブランドショップ GOEMON'|trans }}">
                <meta property="og:description" content="{{ 'エルメス、ルイ・ヴィトン、シャネルなどのブランドバッグ、宝石の中古品を取り扱う、神戸元町のブランドショップ GOEMON'|trans }}">
            {% endif %}
        {% else %}
            {# Other pages #}
            {% if Page.keyword is not empty %}
                <meta name="keywords" content="{{ Page.keyword }}">
            {% endif %}
            {% if Page.description is not empty %}
                <meta name="description" content="{{ Page.description }}">
                <meta property="og:description" content="{{ Page.description }}">
            {% endif %}
        {% endif %}
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/common/apple-touch-icon.png', 'user_data') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/common/favicon-32x32.png', 'user_data') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/common/favicon-16x16.png', 'user_data') }}">
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
    {# Layout: HEAD #}
    {% if Layout.Head %}
        {{ include('block.twig', {'Blocks': Layout.Head}) }}
    {% endif %}
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', { snippets: plugin_assets }) }}{% endif %}
{#
    <!-- Hotjar Tracking Code -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1760037,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N65KLNF');
    </script>
    <!-- Yahoo Tag -->
    <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
        window.yjDataLayer = window.yjDataLayer || [];
        function ytag() { yjDataLayer.push(arguments); }
        ytag({"type":"ycl_cookie"});
    </script>
#}
</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
{#
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N65KLNF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
#}
{# Layout: BODY_AFTER #}
{% if Layout.BodyAfter %}
    {{ include('block.twig', {'Blocks': Layout.BodyAfter}) }}
{% endif %}

<div class="ec-layoutRole wrapper-main">
    {# Layout: HEADER #}
    {% if Layout.Header %}
        <div class="ec-layoutRole__header">
            {{ include('block.twig', {'Blocks': Layout.Header}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_TOP #}
    {% if Layout.ContentsTop %}
        <div class="ec-layoutRole__contentTop">
            {{ include('block.twig', {'Blocks': Layout.ContentsTop}) }}
        </div>
    {% endif %}

    <div class="ec-layoutRole__contents">
        {# Layout: SIDE_LEFT #}
        {% if Layout.SideLeft %}
            <div class="ec-layoutRole__left">
                {{ include('block.twig', {'Blocks': Layout.SideLeft}) }}
            </div>
        {% endif %}

        {% set layoutRoleMain = 'ec-layoutRole__main' %}
        {% if Layout.ColumnNum == 2 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainWithColumn' %}
        {% elseif Layout.ColumnNum == 3 %}
            {% set layoutRoleMain = 'ec-layoutRole__mainBetweenColumn' %}
        {% endif %}

        <div class="{{ layoutRoleMain }}">
            {# Layout: MAIN_TOP #}
            {% if Layout.MainTop %}
                <div class="ec-layoutRole__mainTop">
                    {{ include('block.twig', {'Blocks': Layout.MainTop}) }}
                </div>
            {% endif %}

            {# MAIN AREA #}
            {% block main %}{% endblock %}

            {# Layout: MAIN_Bottom #}
            {% if Layout.MainBottom %}
                <div class="ec-layoutRole__mainBottom">
                    {{ include('block.twig', {'Blocks': Layout.MainBottom}) }}
                </div>
            {% endif %}
        </div>

        {# Layout: SIDE_RIGHT #}
        {% if Layout.SideRight %}
            <div class="ec-layoutRole__right">
                {{ include('block.twig', {'Blocks': Layout.SideRight}) }}
            </div>
        {% endif %}
    </div>

    {# Layout: CONTENTS_BOTTOM #}
    {% if Layout.ContentsBottom %}
        <div class="ec-layoutRole__contentBottom">
            {{ include('block.twig', {'Blocks': Layout.ContentsBottom}) }}
        </div>
    {% endif %}

    {# Layout: CONTENTS_FOOTER #}
    {% if Layout.Footer %}
        <div class="ec-layoutRole__footer">
            {{ include('block.twig', {'Blocks': Layout.Footer}) }}
        </div>
    {% endif %}
</div><!-- ec-layoutRole -->

<div class="ec-overlayRole"></div>
<div class="ec-drawerRoleClose"><i class="fas fa-times"></i></div>
<div class="ec-drawerRole">
    {# Layout: DRAWER #}
    {% if Layout.Drawer %}
        {{ include('block.twig', {'Blocks': Layout.Drawer}) }}
    {% endif %}
</div>
<div class="ec-blockTopBtn pagetop">{{'ページトップへ'|trans}}</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script-->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{% include('@common/lang.twig') %}
<script src="{{ asset('assets/js/function.js') }}"></script>
<script src="{{ asset('assets/js/eccube.js') }}"></script>

{% block javascript %}{% endblock %}
{# Layout: CLOSE_BODY_BEFORE #}
{% if Layout.CloseBodyBefore %}
    {{ include('block.twig', {'Blocks': Layout.CloseBodyBefore}) }}
{% endif %}
{# プラグイン用Snippet #}
{% if plugin_snippets is defined %}
    {{ include('snippet.twig', { snippets: plugin_snippets }) }}
{% endif %}
<script async src="{{ asset('assets/js/customize.js', 'user_data') }}"></script>
<link rel="stylesheet" href="{{ asset('assets/css/customize.css', 'user_data') }}">
</body>
</html>
