{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
    <style>
        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
/* slider
        $(function() {
            $('.main_visual').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                speed: 300
            });
        });
*/
    </script>
{% endblock javascript %}

{% block main %}
    {#
    <div class="ec-sliderRole">
        <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc01.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc02.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc01.jpg') }}"></div>
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/img_hero_pc03.jpg') }}"></div>
        </div>
    </div>
    #}
    <div class="ec-topBanner">
        <div class="row equal">
            <div class="col-sm-4 col-xs-12 banner-left">
                <a href="{{ url('product_list', {'category_id': 7}) }}">
                    {#<img class="img-responsive" src="{{ asset('assets/img/top/banner/banner_left.jpg', 'user_data') }}" />#}
                </a>
            </div>
            <div class="col-sm-4 col-xs-12 banner-middle">
                <div class="banner-middle-container">
                    <h2>{{ 'バッグ'|trans }}</h2>
                    <a href="{{ url('product_list', {'category_id': 7}) }}">{{ 'コレクションを見る'|trans }}</a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 banner-right">
                <a href="{{ url(eccube_config.eccube_user_data_route, {"route": "faq"}) }}">
                    <img class="img-responsive" src="{{ asset('assets/img/top/banner/banner_right.jpg', 'user_data') }}" />
                </a>
            </div>
        </div>
    </div>

    <div class="ec-modal">
        <input type="checkbox" id="ec-modal-checkbox" class="checkbox">
        <div class="ec-modal-overlay">
            <label for="ec-modal-checkbox" class="ec-modal-overlay-close"></label>
            <div class="ec-modal-wrap">
                <label for="ec-modal-checkbox" class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></label>
                <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                <div class="ec-modal-box">
                    <div class="ec-role">
                        <label for="ec-modal-checkbox" class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</label>
                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
