.slick-popularProducts.ec-newItemRole__list {
  &.popular-slider {
    .slick-list {
      @media (max-width: 768px) {
        padding: 0;
      }
    }

    .slick-slide {
      margin: 0 15px !important;

      @media (max-width: 768px) {
        margin: 0 15px!important;
      }
      @media (max-width: 576px) {
        margin: 0 10px!important;
      }

      @media (max-width: 360px) {
        margin: 0 5px!important;
      }

      .product-image-wrapper {
        @media (max-width: 360px) {
          img {
            min-width: unset!important;
          }
        }
      }
    }
  }
}
