.product-carousel {
  .product-image-wrapper {
    @media (max-width: 768px) {
      max-width: 300px;
    }
  }

  .ec-newItemRole__listItem {
    @media (max-width: 768px) {
      margin-right: 0!important;
    }
  }

  .carousel-item {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .slick-slide {
    @media (max-width: 768px) {
      &:not(:last-child) {
        padding: 0 20px;
      }
    }
  }

  .ec-newItemRole__listItemTitle {
    @media (max-width: 768px) {
      padding: 0 30px;
    }
  }
}