{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '退会手続き'|trans }}</h1>
            </div>
        </div>
        <div class="ec-mypageRole">
            <div class="ec-withdrawCompleteRole">
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell">
                        <div class="ec-reportHeading">
                            <h2>{{ '退会が完了いたしました'|trans }}</h2>
                        </div>
                        <p class="ec-reportDescription">{{ 'ご利用いただき誠にありがとうございました。
またのご来店をお待ちしております。
'|trans|nl2br }}</p>
                        <p><a href="{{ url('homepage') }}"
                              class="ec-blockBtn--cancel">{{ 'トップページへ'|trans }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
